@using ClientDependency.Core.Mvc;

@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    Html.RequiresJs("/scripts/jquery.validate.min.js");
    Html.RequiresJs("/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("/scripts/jquery.unobtrusive-ajax.min.js");
    Html.RequiresJs("/scripts/contact-form.js");

}

@Html.Partial("~/Views/Partials/page-header.cshtml")

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @{
                Html.RenderAction("RenderForm", "ContactSurface");
            }
        </div>
    </div>
</div>